.form {
    width: 700px;
    max-width: 800px;
    padding: 10px;
    margin: -125px 5% 0 4%;
}

.form fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
}

legend {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1.8rem;
}

label {
    color: #fafafa;
}

input {
    width: 100%;
    padding: 10px;
    margin: .8rem 0;
}

textarea {
    width: 100%;
}

.buttonForm {
    margin-top: 15px;
    background-color: #3e6f55;
    color: #fafafa;
}

.form .buttonForm:hover {
    background-color: #fafafa;
    border: 2px solid #fafafa;
    
    color: #000;
}